@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
}

:root{
    --purple:#6c19c6;
    --yellow:#fef299;
    --white:rgb(255, 255, 255);
    --light-blue:#1374c3ba;

    --blue-linear:linear-gradient(to right, #7DDABE, #1374C3);
    --purple-linear:linear-gradient(313deg, rgba(204,44,200,1) 0%, rgba(79,11,98,1) 100%);
}

body {
    background-color: var(--light-blue);
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    width: 350px;
    background: var(--blue-linear);
    /* background-image: var(--blue-linear); */
    border-radius: 5px;
    box-shadow: 0 0 15px #5d5d5d;
}

.calculation-display {
    color: white;
    font-size: 1.3em;
    background: transparent;
    /* background-image: linear-gradient(to right, #7DDABE, #1374C3); */
    width: 80%;
    font-weight: lighter;
    padding: 0 10%;
    display: block;
    margin-top: 15px;
    outline: none;
    border: none;
}

.main-display {
    font-size: 3em;
    width: 90%;
    color: white;
    background: transparent;
    /* background-image: linear-gradient(to right, #7DDABE, #1374C3); */
    border: none;
    font-weight: lighter;
    padding: 0 5%;
    display: block;
    text-align: right;
    outline: none;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    height: 75px;
}

.row button {
    flex-grow: 1;
    margin: 2px;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: -webkit-fill-available;
}

.btn-light {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

button {
    transition-duration: 0.5s;
    font-weight: bold;
}

.btn-number:hover {
    background-color: rgba(53, 136, 184, 0.5);
}

.btn-light:hover {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.601) !important;
}

#btn-eql {
    background-color: #40D696;
    width: -webkit-fill-available;
    transition-duration: 0.5s;
}

#btn-eql:hover {
    font-size: 25px;
    background-color: #36B97E;
}

.bbrr {
    border-bottom-right-radius: 5px;
}

.bblr {
    border-bottom-left-radius: 5px;
}

/* ==== footer =====  */
footer {
    text-align: center;
    padding: 3px;
    font-size: 10px;
    background-image: linear-gradient(to right, #7DDABE, #1374C3);
    color: white;
}
footer a{
    color: white;
}